#ifndef SECRETS_H
#define SECRETS_H

// Параметры OpenWeatherMap
const char *weatherApiKey = "API KEY"; // API ключ для OpenWeatherMap
const char *city = "Kyiv"; // Город для получения погоды

// Параметры времени (Киев)
#define TZ_INFO "EET-2EEST,M3.5.0/3,M10.5.0/4"
const char *ntpServer = "time.google.com";
const char *ntpServer2 = "0.pool.ntp.org";

/** OTA **/
#define OTA_HOSTNAME "Clock-ESP32"
#define OTA_PASSWORD "OTA PASSWORD" // пароль для обновления прошивки. В случае необходимости
                                    // сменить пароль по воздуху, нужно прошивать 2 раза.
                                    // Сначала меняем тут и прошиваемся, потом меняем
                                    // в platformio.ini и снова прошиваемся.

#endif